---
import HeadLiners from "../components/HeadLiners.astro";
import Hero from "../components/Hero.astro";
import Lineup from "../components/Lineup.astro";
import Tickets from "../components/Tickets.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "並林町内会のホームページ";
const pageDescription = "ようこそ！並林町内会のホームページへ！";
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="text-zinc-900">
    <Hero />
    <HeadLiners />
    <Lineup />
    <Tickets />
  </div>
</BaseLayout>
