---
import HeadLine from "../components/HeadLine.astro";
---

<div
  id="carousel"
  class="scroll-smooth flex-1 mt-4 flex w-full gap-4 pb-5 snap-x overflow-x-auto"
>
  <HeadLine
    image_path="/images/character01.jpg"
    name="鈴木 茂"
    description="元気で活動的な80歳。町内のゴミ拾いボランティアのリーダーで、いつも笑顔を絶やさない。"
  />
  <HeadLine
    image_path="/images/character02.jpg"
    name="田中 芙美子"
    description="75歳のおしゃれなシニア。町内の居酒屋イベントで、いつも最新のファッションを披露している模様。"
  />
  <HeadLine
    image_path="/images/character03.jpg"
    name="山田 敏雄"
    description="陽気な73歳のカラオケ名人。カラオケ大会での彼の熱唱は、町内会のみんなのお楽しみ。"
  />
  <HeadLine
    image_path="/images/character04.jpg"
    name="佐藤 恵子"
    description="温和で思いやりのある72歳。地域の子供たちに手作りのお菓子を振る舞うことで知られている。"
  />
  <HeadLine
    image_path="/images/character05.jpg"
    name="伊藤 明"
    description="歴史好きの70歳。町内会のイベントでは、地域の歴史について熱く語る。"
  />
  <HeadLine
    image_path="/images/character06.jpg"
    name="市川 幸子"
    description="社交的で話好きな71歳。町内会のあらゆるイベントにも参加し、誰とでもすぐに友達になれるという。"
  />
  <HeadLine
    image_path="/images/character07.jpg"
    name="渡辺 治"
    description="冷静沈着な77歳の賢者。町内会の問題解決には、いつも彼のアドバイスが欠かせない。"
  />
</div>
