<footer class="text-gray-600 body-font">
  <div
    class="container px-5 py-4 mt-12 mx-auto flex justify-center items-center sm:flex-row flex-col border-t"
  >
    <p
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <span class="ml-3 text-sm">Powered by</span>
      <img src="/astro-logo-dark.svg" alt="astro" width="100" />
    </p>
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2024 -
      <a
        href="https://twitter.com/ishiyamaism"
        class="text-gray-600 ml-1"
        rel="noopener noreferrer"
        target="_blank">@ishiyamaism</a
      >
    </p>
  </div>
</footer>
