---
interface Props {
  image_path: string;
  name: string;
  description: string;
}

const { image_path, name, description } = Astro.props;

const backgroundImageStyle = {
  backgroundImage: `url(${image_path})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
};
---

<div class="min-w-[80%] md:min-w-[40%]">
  <div
    style={backgroundImageStyle}
    class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
  >
  </div>
  <h3 class="mt-2 text-2xl">{name}</h3>
  <p class="text-[18px] pt-1">{description}</p>
</div>
