---
import Carousel from "./Carousel.astro";
---

<div class="max-w-screen-lg mx-auto mt-20 text-zinc-900 dark:text-zinc-200">
  <h2 class="font-bold">役員紹介</h2>
  <p class="p-2">
    ようこそ、並林町内会へ！　私たちの町内会は、ただの地域コミュニティではありません。ここは、情熱、経験、そして何よりも心からの笑顔が集まる場所です。役員一人ひとりが、この町内会を特別なものにしています。
  </p>
  <div
    class="text-5xl flex justify-center items-center cursor-pointer p-2 relative -top-4"
  >
    <Carousel />
  </div>
</div>
