<div
  class="max-w-screen-lg mx-auto mt-20 text-zinc-900 dark:text-zinc-200 py-4"
>
  <h2 class="font-bold">参加券</h2>
  <table class="mt-5 table w-full border border-zinc-500 border-collapse p-4">
    <thead class="text-lg font-bold">
      <tr>
        <th class="border border-zinc-500 p-3">参加券</th>
        <th class="border border-zinc-500 p-3">お気持ち</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-zinc-500 py-2 px-3"> 月一特別ゴミ拾い </td>
        <td class="border border-zinc-500 py-2 px-3">¥300</td>
      </tr>
      <tr>
        <td class="border border-zinc-500 py-2 px-3">週一ゴミ拾い</td>
        <td class="border border-zinc-500 py-2 px-3">¥100</td>
      </tr>
      <tr>
        <td class="border border-zinc-500 py-2 px-3">毎日ゴミ拾い</td>
        <td class="border border-zinc-500 py-2 px-3">¥10</td>
      </tr>
    </tbody>
  </table>
  <p class="w-full mx-auto text-center pt-4 px-2">
    並林町内会のイベントは、皆さんが楽しみにしている一大事。
    <br />
    私たちのカラオケ大会やゴミ拾い、居酒屋ナイトなど、心温まるイベントにぜひご参加ください。
    <br />
    参加券は数に限りがありますので、ご希望の方はお早めに！
  </p>
</div>
